
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="jumbotron">
    @using (Html.BeginForm("Login", "Main", FormMethod.Post))
    {
        <h2>Name</h2>
        <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
        <h2>Email</h2>
        <input type="email" name="email" id="username-field" class="login-form-field" placeholder="Email">
        <h2>Phone</h2>
        <input type="text" name="phone" id="username-field" class="login-form-field" placeholder="Phone">
        @if (@Session["rights"] == "Admin")
        {
            <h2>Type</h2>
            <input type="text" name="type" id="username-field" class="login-form-field" placeholder="Type">

        }
        <h2>Password</h2>
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
        <h2>Password again</h2>
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">

        <input type="submit" value="Register">

    }

</div>
