
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="jumbotron">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <h2>Name</h2>
        <input type="text" name="vardas" id="username-field" class="login-form-field" placeholder="vardas">
        <h2>Right</h2>
        <input type="text" name="right" id="username-field" class="login-form-field" placeholder="right">
        <h2>Password</h2>
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="password">
        

        @*<h2>Password again</h2>
            <input type="password" name="password1" id="password-field" class="login-form-field" placeholder="password1">*@

        <input type="submit" value="Register">

    }

</div>
