@model Dictionary<string,object>

@{
    ViewBag.Title = "Index";
}

<h2>Main page</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>@Session["user"]</dd>

        <dt>Pasword</dt>
        <dd>@Session["password"]</dd>

        <dt>Rights</dt>
        <dd>@Session["rights"]</dd>
    </dl>
</div>
<div>
    @using (Html.BeginForm("Index", "Product", FormMethod.Post))
    {
        <input type="submit" value="Products">
    }
    @using (Html.BeginForm("Index", "Worker", FormMethod.Post))
    {
        <input type="submit" value="Workers">
    }
    @using (Html.BeginForm("Index", "Card", FormMethod.Post))
    {
        <input type="submit" value="Cards">
    }
    @if (Session["rights"] == "stuff") {
        <div>
            aaiodfnv
        </div>
    }
    @using (Html.BeginForm("Index", "Cashier", FormMethod.Post))
    {
        <input type="submit" value="Cashier">
    }
</div>
